[Unit]
Description=HackerRank Campus Crew Discord Super Agent
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=aethercode
WorkingDirectory=/data/production/hrcc_bot
EnvironmentFile=/data/production/hrcc_bot/.env
ExecStart=/data/production/hrcc_bot/venv/bin/python bot.py

Restart=always
RestartSec=3s
LimitNOFILE=65535

StandardOutput=journal
StandardError=journal
SyslogIdentifier=hrcc-bot

[Install]
WantedBy=multi-user.target
